<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KW_XdwLib.EnvSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KW_XdwLib.EnvSettings>
            <setting name="WorkingSpacePath" serializeAs="String">
                <value>C:\KWSW\workspace</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\KWSW\log</value>
            </setting>
            <setting name="AppsDataPath" serializeAs="String">
                <value>C:\KWSW\bin</value>
            </setting>
            <setting name="TrashBinPath" serializeAs="String">
                <value>C:\KWSW\trash</value>
            </setting>
        </KW_XdwLib.EnvSettings>
    </userSettings>
</configuration>